* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, black, gray);
  background-repeat: no-repeat;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.header-menuList {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header-menuItem {
  list-style: none;
  margin-right: 10px;
  padding: 10px;
}

.header-menuItem a {
  text-decoration: none;
  color: white;
}

.checked a {
  color: #ad9766;
}
