* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, black, gray);
  background-repeat: no-repeat;
  height: 100vh;
  border: 10px solid #ad9766;
  border-right: 20px solid #ad9766;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.header-menuList {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 10px;
}
.header-menuItem {
  list-style: none;
  margin-right: 10px;
  padding: 10px;
}

.header-menuItem a {
  text-decoration: none;
  color: white;
}

.checked a {
  color: #ad9766;
}

main {
  max-width: 900px;
  margin: 0 auto;
  color: white;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description {
  max-width: 400px;
}

.description h1 {
  font-variant: small-caps;
  font-size: 3.5em;
  font-weight: normal;
  margin-bottom: 30px;
}

.description h2 {
  font-weight: normal;
  margin-bottom: 30px;
}

.description-marked {
  color: #ad9766;
}

.description p {
  line-height: 1.5em;
}
.image-perfil {
  box-shadow: 3px -6px 5px rgb(0 0 0 / 45%);
}
.image-perfil img {
  max-width: 330px;
  height: 370px;
}
